<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>用户登录</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="./mine/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="./mine/css/util.css">
		<link rel="stylesheet" type="text/css" href="./mine/css/main.css">
		<header th:replace="header::html"></header>
		<link rel="stylesheet" th:href="@{/xadmin/css/login.css}" />
	</head>

	<body>
		<div class="dowebok limiter">
			<div class="container-login100">
				<div class="wrap-login100 p-t-190 p-b-30">
					<form class="login100-form validate-form" action="/login" id="login-form">
						<div class="login100-form-avatar">
							<img src="./mine/images/avatar-01.jpg" alt="AVATAR">
						</div>

						<span class="login100-form-title p-t-20 p-b-45">后台管理系统</span>

						<div class="wrap-input100 validate-input m-b-10" data-validate="请输入用户名">
							<input class="input100" type="text" id="username" name="username" placeholder="用户名" autocomplete="off">
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="fa fa-user"></i>
							</span>
						</div>

						<div class="wrap-input100 validate-input m-b-10" data-validate="请输入密码">
							<input class="input100" type="password" id="password" name="password" placeholder="密码">
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="fa fa-lock"></i>
							</span>
						</div>

						<div class="container-login100-form-btn p-t-10">
							<button class="login100-form-btn" lay-submit lay-filter="login" type="submit" value="登录">登录</button>
						</div>

						<div class="text-center w-full p-t-25 p-b-230">
							<a href="#" class="txt1" target="_blank">忘记密码？请联系管理员！</a>
						</div>

					</form>
				</div>
			</div>
		</div>

		<script src="./mine/vendor/jquery/jquery-1.12.4.min.js"></script>
		<script type="text/javascript">
			$(function() {
				layui.use('form', function() {
					var form = layui.form;
					//监听提交
					form.on('submit(login)', function(data) {
						$.ajax({
							type: 'post',
							url: '/login',
							data: $("#login-form").serialize(),
							success: function(datas) {

								if (datas.authenticated == true) {
									localStorage.setItem("userId", datas.principal.id);
									localStorage.setItem("username", datas.principal.username);
									localStorage.setItem("nickName", datas.principal.nickname);
									var authorities = datas.authorities;
									var permission = [];
									for (var i in authorities) {
										permission.push(authorities[i].authority);
									}
									localStorage.setItem("permission", JSON.stringify(permission));
									layer.msg("登录成功", {
										time: 500
									}, function() {
										location.href = '/'
									});
								} else {
									layer.msg("登录异常，请联系管理员");
								}
							},
							error: function(xhr, textStatus, errorThrown) {
								var msg = xhr.responseText;
								var response = JSON.parse(msg);
								layer.msg(response.message);
							}
						});
						return false;
					});
				});
			})
		</script>

	</body>
</html>
